MYSQL_HOST=project_name_db
MYSQL_ROOT_PASSWORD=db_root_password
MYSQL_DATABASE=db_name
MYSQL_USER=db_user_name
MYSQL_PASSWORD=db_user_password

MYSQL_INTEGRATION_HOST=project_name_db
MYSQL_INTEGRATION_ROOT_PASSWORD=db_root_password
MYSQL_INTEGRATION_DATABASE=db_name_tests
MYSQL_INTEGRATION_USER=db_user_name
MYSQL_INTEGRATION_PASSWORD=db_user_password
